* {
    margin:0;
    padding: 0;
}
#B h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0px;
}

#B .principal {
    margin-top: 20px;
    margin-bottom: 20px;
}
#B .contenedor{
    height: auto;
    width: auto;
    margin:0;
    padding: 0;
}
#B .aux{
    text-align: center;
    background: #00796b;
}

#B .header {
    background: blueviolet;
    height: 50px;
    width: auto;
}

#B .sidebar { 
    background: orange;
    height: 400px;
    width: auto;
}

#B .contenido {
    height: 400px;
    width: auto;
    justify-content: left;
}


.box{
    position: absolute;
    top: 40px;
    left: 5%;
    width: 500px;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]
{
    background: #fff;
    width: 340px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type= "submit"]
{
    border: none;
    left: -5px;
    position: relative;
    border-radius: 0 25px 25px 0;
    height: 30px;
    width: 80px;
    cursor: pointer;
    background: rgb(211, 211, 20);
    color: #fff;

}

input[type = "submit"]:hover
{
    background: #ff5722;
}

.navegacion ul
{
    list-style: none;
    
    
}

.menuu > li
{
position: relative;
display: inline-block;
padding: 80px 5px ;


}

.menuu > li > a
{
    
    color: #fff;
    text-decoration: none;
  
    
    
    
}

.menuu li a:hover
{
    color: #CE7D35;
    transition: all .3s;
}